<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: black;
            text-align: center;
        }

        p {
            color: red;
            font-weight: bold;
            font-size: 35px;
        }
    </style>
</head>
<body>
    <p>Dobrý den vítej na dark webu</p>
    <p>Tuto stránku vytvořil uživatel cavoprync</p>
    <p>{{vara}}</p>
    <p>[Intro]
Dollar, Smíchov, OG, more, co je? Zmrde, co je?

[Hook]
Pasu lubně, dělám poděl, kradou za mě koně
Padesát na kapse nový Jordany, M Sport všechno kůže
S mejma ciganama, degeš chálujeme, more dobře
Sbírám mrtvý gadže, more přivítej mě degeš ve hře
Můžeš zvedat klidně 100 stačí teleskop
Pujdeš k zemi bro, přísahám na Smíchov na můj blok
Mí zmrdi mají hlad, peníze jim nedaj spát
More rakle mají strach, odevzdaj mi každej gram

[Verse 1]
More dej sem občanku, more co si v Solusu
Malý čáve zavolám, pudeš do T-Mobilu
Ty love potřebuju, k tobě domů naběhnu
Čavo vezme počítač, televizi i notebook
Za ty love klidně pudem sedět, klidně pudem sedět
Sleduj more jak cikán v bavoráku more jede
Koukni se nám do očí, řekni mi co v nich vidíš
Jedem to už roky zmrde ale to už dávno víš

[Hook]
Pasu lubně, dělám poděl, kradou za mě koně
Padesát na kapse nový Jordany, M Sport všechno kůže
S mejma ciganama, degeš chálujeme, more dobře
Sbírám mrtvý gadže, more přivítej mě degeš ve hře
Můžeš zvedat klidně 100 stačí teleskop
Pujdeš k zemi bro, přísahám na Smíchov na můj blok
Mí zmrdi mají hlad, peníze jim nedaj spát
More rakle mají strach, odevzdaj mi každej gram</p>
<img src="https://th.bing.com/th/id/OIP.-SAUOTCkRAwsQPSrvuRaAgAAAA?rs=1&pid=ImgDetMain" alt="Obrázek">
</body>
</html>
